@model IEnumerable<SklepInternetowy.Models.Order>

@{
    ViewData["Title"] = "Zamówienia";
}

<h1>Lista Zamówień</h1>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Dodaj zamówienie ręcznie</a>
</p>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Data zamówienia</th>
            <th>Adres wysyłki</th>
            <th>Kwota całkowita</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OrderDate.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="fw-bold text-success">
                    @item.TotalAmount.ToString("C")
                </td>
                <td style="min-width: 250px;">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>